/* using gradient for page backgorunds */

body{
    font-family: 'Roboto', sans-serif;
    color: white;
    background: #CC9888;
    background: -webkit-linear-gradient(top right, #CC9888, #98698E);
    background: -moz-linear-gradient(top right, #CC9888, #98698E);
    background: linear-gradient(to bottom left, #CC9888, #98698E);
    min-height: 100vh;
}

.skip-link{
    position:absolute;
    top:-40px;
    left:0;
    background: #BF1722;
    color: white;
    padding: 8px;
    z-index: 100;
  }
  
  .skip-link:focus{
    top:0;
  }

#popcakes-img-container{
    width: 100%;
}

#main-container{
    max-height: 100vh;
    height: 100vh;
}

#popcakes-img-container img{
    width: 100%;
    max-height: 100%;
}

#content-box{
    padding: 1rem;
}

header nav ul{
    display: flex;
}

header nav ul li{
    padding: 1rem;
    font-size: 1.5rem;
}

header nav ul li a{
    text-decoration: none;
    box-shadow: inset 0 0 0 0 lightgray;
    color:white;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

header nav ul li a:hover{
    box-shadow: inset 100px 0 0 0 white;
    color: gray
}

.emoji-paragraph{
    font-size: 3rem;
    margin-bottom: 3rem;
}

nav{
    width: 92%;
    margin: auto;
}


h1{
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    padding: 2rem;
    font-weight: bold;
}

main{
    text-align: center;
    margin-bottom: 4rem;
}

.our-products-btn{
    padding: 1.5rem;
    font-size: 2rem;
    border: 0;
    background-color: #ffd1dc;
    margin-bottom: 2rem;
    animation: shake 1.5s linear infinite;
}


.our-products-btn a{
    color: gray;
    text-decoration: none;
}

h2{
    font-size: 1.5rem;
    font-weight: lighter;
}

footer{
    text-align: center;
    font-size: 2rem;
    margin: 1.5rem 0;
}

footer i{
    padding: 1rem;
}

.products{
    padding: 1rem;
    margin: auto;
    width: 90%;
}

.product{
    margin-bottom: 2rem;
    padding: 0 1rem 1rem 0;
}

.products h2{
    font-size: 3rem;
}

.products h3{
    margin-top: 1rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.product-image{
    max-width: 80%;
    object-fit: cover;
    margin: auto;
}

#about-container{
    width: 90%;
    margin: auto;
}

#about-container h2{
    margin-top: 2rem;
    font-size: 3rem;
}

#about-container p{
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
    line-height: 150%;
}

.location-container{
    margin-top: 3rem;
}

.location-info h3{
    margin:0;
    font-size: 2rem;
}

.location-info{
    margin-top: 1rem;
}

.contact-container{
    width: 90%;
    margin: auto;
}

.contact-container h2{
    font-size: 3rem;
    margin: 1rem 0;
}

form{
    margin-bottom: 16rem;
}

form label{
    font-size: 2rem;
}

form input{
    margin: 1rem 0;
}

input[type="text"]{
    font-size: 1.5rem;
}

textarea{
    width: 300px;
    height: 200px;
    resize: none;
    margin: 1rem 0;
}

.submit-btn{
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 10px;
    border: none;
}

/* media query, to hide the popcakes img on screen sizes smaller than 992px width */

@media only screen and (max-width: 992px){
    #popcakes-img-container{
        display: none;
    }
}

/* changing properties, to use white space and layout everything better on screen sizes bigger than mobile */

@media only screen and (min-width: 768px){
    .products-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

    .location-container{
        display: flex;
    }

    .location-info{
        margin-top: 0;
        padding: 0 0 0 1rem;
    }

}

/* media query for screen sizes like desktop, adjusting grid and some properties to add some padding, splits up evenly the landing page content by setting the width to 50% of both containers */

@media only screen and (min-width: 992px){
    #main-container{
        display: flex;
        max-width:100%;
    }

    #popcakes-img-container{
        width: 50%;
    }

    #content-box{
        width: 50%;
    }

    .products-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@keyframes shake {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }